@charset "utf-8";

.lt_container{
	width: 100%;
	max-width: 460px;
    min-height: 100vh;
	margin: auto;
	padding: 56px 0 80px !important;
}
.lt_container-bg_fa {
	background-color: #fcfcfc;
}
.lt_content{
	margin: 0 18px;
}
.lt_content-shadow_box{
	max-width: 450px;
	margin: auto;
	padding: 8px 0 40px;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
	overflow: hidden;
}
@media (min-width : 460px) {
	.lt_container-bg_fa {
		background-color: #FFF;
	}
}