.nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10 !important;
}
.nav__item{
	position: relative;
}
.nav__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-width: 1264px) {
    .nav {
		z-index: 1;
    }
}